.jiance-wrap {
    width: 100%;
    .page-wrap{
        width: 100%;
        height: auto;
        background: #fff;
        p{
            width: 100%;
            text-align: center;
            color: #959595;
            font-size: 28rpx;
        }
        img{
            display: block;
            width: 90vw;
            margin: 30rpx auto;
        }
        .submit_btn{
            width: 240rpx;
            height: 68rpx;
            line-height: 68rpx;
            background: #0187FB;
            color: #fff;
            text-align: center;
            display: block;
            margin: 40rpx auto 50rpx;
            border-radius: 10rpx;
            font-size: 28rpx;
        }
    }
}
.grid-block{
    width: 100%;
    height: 60vw;
    background: #0187FB;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.page-title{
    width: 90vw;
    height: auto;
    background: #fff;
    margin: 160rpx auto 0;
    border-radius: 20rpx;
    box-shadow: 0px 5px 5px 3px rgba(241, 244, 247, 1);
    padding: 30rpx;
    box-sizing: border-box;
    flex-direction: column;
    .grid-title{
        font-size: 28rpx;
        color: #101010;
        font-weight: bold;
    }
    .grid-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20rpx 30rpx;
        box-sizing: border-box;
        img{
            width: 110px;
            height: 90px;
        }
        div{
            flex-direction: column;
            color: #101010;
            h3{
                font-size: 36rpx;
            }
            h4{
                font-size: 28rpx;
            }
        }
    }
}

page {
    min-height: 100%;
    background-color: #fff;
}