.add-yh-wrap {
    width: 100%;
    .content {
        background: #fff;
        box-sizing: border-box;
        .row {
            justify-content: center;
            font-size: 28rpx;
            color: #333;
            line-height: 28rpx;
        }
    }
    .explain-content {
        padding: 0 30rpx;
        margin-bottom: 72rpx;
        .row {
            padding: 30rpx 0 0;
            .top {
                margin-bottom: 25rpx;
                font-weight: bold;
                color: #101010;
            }
            .bottom {
                position: relative;
                background: #F5F5F5;
                border-radius: 8rpx;
                padding: 15rpx 30rpx;
                min-height: 35rpx;
                line-height: 35rpx;
                flex-direction: column;
                picker{
                    width: 100%;
                }
                .picker{
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                input {
                    width: 100%;
                }
                textarea{
                    width: 100%;
                    height: 120rpx;
                    line-height: 35rpx;
                }
                >img{
                    height: 200px;
                    width: 100%;
                    margin: 0 auto;
                    display: block;
                }
                span {
                    color: #101010;
                }
                .choose-text {
                    color: #333;
                }
            }
        }
    }
    .finish-btn {
        width: 40%;
        height: 70rpx;
        line-height: 70rpx;
        background: #2C4766;
        color: #fff;
        text-align: center;
        display: block;
        margin: 40rpx auto;
        border-radius: 10rpx;
        font-size: 28rpx;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    }
    .btn_block{
        height: auto;
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 40rpx;
        .btn{
            width: 30%;
            height: 70rpx;
            line-height: 70rpx;
            background: #01A800;
            color: #fff;
            text-align: center;
            display: block;
            margin: 40rpx auto;
            border-radius: 10rpx;
            font-size: 28rpx;
        }
        .btn:last-child{
            background: #E51C23;
        }
    }

}
.content,
.table,
.handle_block,
.row {
    flex-direction: column;
}
.picker {
    display: flex;
}
.icon-downarrow {
    color: #999;
    font-size: 40rpx;
}

.gird-block{
    width: 100%;
    background: #F5F5F5;
    border-radius: 8rpx;
    padding: 30rpx;
    min-height: 35rpx;
    line-height: 35rpx;
    font-size: 28rpx;
    box-sizing: border-box;
    margin-top: 20rpx;
    i{
        color: #e83f45;
    }
}

page {
    min-height: 100%;
    background-color: #fff;
}

.photo-box-wrap {
  width: 100%;
  flex-wrap: wrap;
  padding: 15rpx 0;
  .photo-box-item {
    margin: 0 30rpx 0 0;
    position: relative;
    width: 140rpx;
    height: 100rpx;
    &.add-button {
      background-color: #bbb;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      width: 140rpx;
      height: 100rpx;
      position: static;
      i {
        display: flex;
        display: -webkit-flex;
        color: #fff;
        font-size: 32px;
      }
    }
    .photo-item {
      display: flex;
      display: -webkit-flex;
      width: 140rpx;
      height: 100rpx;
    }
    .del-button {
        position: absolute;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 32px;
        color: #b80e0e;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
  }
}